@charset "UTF-8";
/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.6; }

body {
  -webkit-touch-callout: none;
  font-family: -apple-system-font, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  line-height: inherit;
  background: #f3f3f3; }

ul, ol, li, dl, dd, dt {
  list-style: none; }

input, button, textarea {
  font-family: -apple-system-font, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  outline: none; }

body.rich_media_empty_extra {
  background-color: #fff; }

body.rich_media_empty_extra .rich_media_area_primary:before {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-size: 16px; }

* {
  margin: 0;
  padding: 0; }

a {
  color: #607fa6;
  text-decoration: none; }

.hr-rem2 {
  height: 0.2rem;
  line-height: 0;
  font-size: 0;
  clear: both; }

.zmiti-photo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%; }
  .zmiti-photo.active {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform-origin: center 50px;
    transform-origin: center 50px;
    -webkit-transform: scale(0.6);
    transform: scale(0.6); }

.rich_media_inner {
  background-color: #f3f3f3;
  padding: 0.15rem;
  font-size: 0.35rem;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

.rich_media_area_primary {
  background-color: #fffbee;
  position: relative;
  padding: 0.15rem;
  box-shadow: 0 6px 12px 0px #ebe7e4;
  -webkit-box-shadow: 0 6px 12px 0px #ebe7e4;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.rich_media_title {
  margin-bottom: 10px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 24px; }

.rich_media_meta_list {
  margin-bottom: 18px;
  line-height: 20px;
  font-size: 0; }

.rich_media_meta_list em {
  font-style: normal; }

.rich_media_meta {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 10px;
  font-size: 16px; }

.zmiti-header {
  width: 100%; }
  .zmiti-header img {
    width: 100%;
    display: block; }

/*171011*/
.rich_media_content img {
  box-sizing: border-box !important;
  word-wrap: break-word !important;
  visibility: visible !important;
  width: 100% !important; }
.rich_media_content br {
  max-width: 100%;
  box-sizing: border-box !important;
  word-wrap: break-word !important; }

div.wx_dz span.t1 {
  font-size: 20px; }
  div.wx_dz span.t1 span.t1-s {
    color: #7b0c00; }

.tips_global {
  color: #8c8c8c; }

.rich_media_tool .meta_primary {
  float: left;
  margin-right: 10px; }

.media_tool_meta i {
  vertical-align: 0;
  position: relative;
  top: 1px;
  margin-right: 3px; }

.rich_media_title span {
  display: inline-block; }

.meta_extra {
  float: right;
  margin-left: 10px; }

.ico-hw {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 10px;
  background: #810101;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
  .ico-hw span {
    width: 80px;
    background: url("../images/img-005.png") no-repeat 0 center;
    background-size: cover; }

.wx-author {
  width: 100%;
  margin-bottom: 20px;
  background: url("../images/img-006.jpg") no-repeat center;
  background-size: cover; }
  .wx-author .author-info {
    width: 46%;
    margin: 0 auto;
    background: #ffffff;
    padding: 0 2%;
    text-align: center; }
    .wx-author .author-info span {
      display: inline-block; }
    .wx-author .author-info img {
      width: 100%;
      display: block; }
    .wx-author .author-info .faces {
      width: 32.5%;
      margin-right: 5%; }
      .wx-author .author-info .faces img {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%; }
    .wx-author .author-info .names {
      width: 60%; }

.clearfix {
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0; }

.rich_media_title {
  margin-bottom: 0; }

.rich_media_meta_list {
  padding-top: 18px;
  padding-bottom: 0px; }

.wx-source {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0.4rem 0 0 0.35rem;
  /*text-align: center;*/
  color: #fdfb74;
  font-size: 0.35rem; }
  .wx-source span {
    color: #607fa6;
    display: inline-block;
    font-size: 16px; }
  .wx-source i {
    font-style: normal;
    display: inline-block;
    vertical-align: middle; }
  .wx-source b {
    display: inline-block;
    vertical-align: middle;
    width: 0.7rem;
    height: 3px;
    background: url("../images/img-056.jpg") repeat-x 0 center;
    margin: 0 0.1rem; }

.wx-slide {
  display: inline-block;
  position: fixed;
  z-index: 200;
  right: .5rem;
  top: 24px;
  width: 1.4rem;
  height: 1.4rem;
  background: url("../images/img-033.png") no-repeat;
  background-size: cover;
  text-indent: -9999rem;
  -webkit-transition: 1s;
  transition: 1s; }

.wx-index-hw {
  text-align: center; }
  .wx-index-hw img {
    width: 1.8rem; }

.wx-comments {
  background: #f3f3f3;
  font-size: 0.35rem;
  padding: 0.3rem 0 0 0; }
  .wx-comments .wx-inner {
    padding: 0.2rem 0.15rem 0.15rem; }
  .wx-comments .comm-inner {
    padding: 0.2rem 0 0 0; }
    .wx-comments .comm-inner li {
      position: relative;
      min-height: 0.7rem;
      margin-bottom: 0.2rem; }
    .wx-comments .comm-inner .user-face {
      width: 1rem;
      height: 1rem;
      position: absolute; }
      .wx-comments .comm-inner .user-face img {
        width: 100%;
        display: block;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px; }
    .wx-comments .comm-inner .user-con {
      padding: 0 0 0 1.3rem; }
  .wx-comments .unames {
    color: #727272;
    position: relative; }
    .wx-comments .unames .u-dz {
      position: absolute;
      right: 0;
      top: 0;
      color: #8c8c8c;
      font-size: 0.35rem; }
      .wx-comments .unames .u-dz .icon_praise_gray {
        background-image: url("../images/ico-1.png"); }
  .wx-comments .utext {
    color: #3e3e3e; }
  .wx-comments .udates {
    color: #bdbdbd; }
  .wx-comments .comm-tips {
    text-align: center;
    color: #8c8c8c;
    position: relative; }
    .wx-comments .comm-tips span {
      background-color: #f3f3f3;
      position: relative;
      z-index: 2;
      zoom: 1;
      padding: 0 10px; }
    .wx-comments .comm-tips .clearfix {
      width: 100%;
      border-bottom: 1px #e1e1e1 dashed;
      position: absolute;
      bottom: 0.25rem;
      z-index: 1; }
  .wx-comments .comm-linkmore {
    text-align: center;
    color: #607fa6; }

.wx-zhubian {
  text-align: center;
  padding: .2rem 0.3rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }
  .wx-zhubian img {
    width: 100%;
    display: inline-block; }

.wx-editor {
  text-align: center;
  height: 1.2rem;
  overflow: hidden; }
  .wx-editor img {
    width: auto; }
  .wx-editor .wx-b1, .wx-editor .wx-b2 {
    display: inline-block; }
  .wx-editor .wx-b1 {
    width: 3.5rem;
    height: 1.2rem;
    border-right: 1px #fcffb4 solid;
    padding: 0 0.43rem 0 0;
    margin: 0 0.35rem 0 0;
    text-align: right; }
    .wx-editor .wx-b1 img {
      width: 1.2rem;
      height: 1.2rem; }
  .wx-editor .wx-b2 {
    padding: 0; }
    .wx-editor .wx-b2 .wx-name1 {
      display: inline-block;
      vertical-align: top; }
      .wx-editor .wx-b2 .wx-name1 img {
        height: 0.5rem !important;
        margin-top: 0.4rem; }

.wx-face1 {
  display: inline-block; }
  .wx-face1 img {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%; }

.rich_media_tool {
  font-size: 14px; }

.hr20, .hr10 {
  line-height: 0;
  font-size: 0;
  clear: both; }

.hr20 {
  height: 20px; }

.hr10 {
  height: 10px; }

.wx-xy {
  text-align: right; }
  .wx-xy i {
    display: inline-block;
    width: 12px;
    height: 15.5px;
    background: url("../images/img-066.png") no-repeat;
    background-size: cover;
    margin-right: 5px; }
  .wx-xy span {
    display: inline-block; }

.icon_praise_gray {
  background: transparent url(../images/ico-4.png) no-repeat 0 0;
  width: 13px;
  height: 13px;
  display: inline-block;
  background-size: 100% auto; }

.wx-app-sta {
  color: #fcffb4;
  font-size: 0.35rem; }
  .wx-app-sta .wx-count-yd {
    width: 60%;
    float: left; }
    .wx-app-sta .wx-count-yd i {
      font-style: normal;
      margin-right: 4px; }
  .wx-app-sta .wx-count-dz {
    width: 37%;
    float: right;
    text-align: right; }
  .wx-app-sta .wx-xy {
    width: 33%; }

.wx-user-cons {
  font-size: 0.31rem;
  padding: 0 0.1rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative; }
  .wx-user-cons .wx-xy {
    position: absolute;
    left: 0.1rem;
    bottom: 0;
    color: #4e4242; }
  .wx-user-cons .wx-user-pos {
    color: #4e4242;
    width: 6rem;
    float: left;
    font-weight: bold;
    line-height: 1.8; }
    .wx-user-cons .wx-user-pos em {
      font-style: normal;
      color: #fc282a; }
    .wx-user-cons .wx-user-pos p {
      text-indent: 2em; }
      .wx-user-cons .wx-user-pos p em {
        padding: 0 0.3rem; }
  .wx-user-cons .wx-user-codes {
    width: 2.7rem;
    float: right; }
    .wx-user-cons .wx-user-codes img {
      width: 100%; }
    .wx-user-cons .wx-user-codes div {
      color: #ab8a6c;
      font-size: 0.2rem;
      text-align: center; }

.wx-page-footer {
  text-align: center;
  position: relative;
  zoom: 1;
  padding: 0 0 1rem 0; }
  .wx-page-footer img {
    width: 100%;
    display: block; }
  .wx-page-footer .wx-page-qcode {
    width: 2rem;
    height: 2rem;
    margin: -2.8rem auto 0 auto; }
    .wx-page-footer .wx-page-qcode img {
      display: block; }

.wx-page-index {
  border: 2px solid #fc282a;
  padding: 4px; }
  .wx-page-index .wx-page-index-inner {
    border: 1px solid #fc282a; }

.wx-page-index-inner-sub2 {
  padding: 0.05rem 0.3rem 0.3rem 0.3rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.mess-img-a {
  display: block;
  width: 100%; }

.wx-bottom {
  position: relative; }
  .wx-bottom .wx-qrcode {
    position: relative;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal;
    -webkit-box-align: start; }
  .wx-bottom .wx-code {
    margin-left: 3rem;
    width: 101px;
    height: 95px;
    background: url("../images/img-011.png") no-repeat;
    background-size: cover;
    right: 15px;
    top: -32px; }

.wx-index-text {
  padding: 0.4rem 0.3rem;
  font-size: 0.35rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }
  .wx-index-text p {
    color: #fdfb74;
    text-indent: 2em; }

.wx-message {
  position: relative;
  font-size: 0;
  line-height: 1;
  padding: 0.4rem 0 0 0; }
  .wx-message .mess-img {
    min-height: 170px; }
    .wx-message .mess-img img {
      width: 100%;
      display: block; }
    .wx-message .mess-img .mess-img-b {
      width: 100%;
      height: auto;
      position: absolute;
      left: 0;
      top: 0; }
  .wx-message .wx-open {
    width: 1.068rem;
    height: 0.36rem;
    position: absolute;
    z-index: 199;
    right: 10px;
    top: 0px;
    background-size: cover;
    background-repeat: no-repeat; }
  .wx-message input {
    opacity: 0;
    width: 1.068rem;
    height: 0.36rem;
    cursor: pointer; }
  .wx-message .wx-sta1 {
    background-image: url("../images/ico-s1.png"); }
  .wx-message .wx-sta2 {
    background-image: url("../images/ico-s2.png"); }

.zmiti-barrage-btn {
  position: absolute;
  right: .5rem;
  width: 1.5rem;
  top: -10px; }
  .zmiti-barrage-btn img {
    width: 100%; }

.zmiti-index-content {
  background: url(../images/bg1.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden; }

.wx-artitle {
  padding-top: 0.4rem; }
  .wx-artitle .wx-tit-h5 {
    font-size: 0.6rem;
    color: #b82a29;
    padding: 1rem 0.2rem 0 0.35rem;
    text-align: center;
    font-weight: bold;
    color: #fcffb4; }
  .wx-artitle i, .wx-artitle span, .wx-artitle em {
    display: inline-block; }
  .wx-artitle i {
    width: 59px;
    height: 32px;
    background: url("../images/img-018.png") no-repeat;
    background-size: cover;
    float: left;
    margin-right: 8px; }
  .wx-artitle span.wx-th1 {
    padding: 3px;
    position: relative; }
    .wx-artitle span.wx-th1 b {
      background-color: #a00101;
      color: #ffffff;
      padding: 4px 12px;
      font-weight: normal; }
    .wx-artitle span.wx-th1 em {
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      width: 11px;
      height: 9px; }
    .wx-artitle span.wx-th1 .wx-em1 {
      left: 0;
      bottom: 0;
      background-image: url("../images/img-030.png"); }
    .wx-artitle span.wx-th1 .wx-em2 {
      background-image: url("../images/img-029.png");
      right: 1px;
      top: -1px; }
  .wx-artitle span.wx-th2 img {
    height: 30px !important; }
  .wx-artitle span.wx-th3 {
    width: 100%;
    display: block; }
    .wx-artitle span.wx-th3 img {
      width: 100%;
      display: block; }

.wx-btn1 {
  text-align: right; }
  .wx-btn1 span span {
    cursor: pointer; }
  .wx-btn1 span {
    display: inline-block;
    color: #6682a2; }
  .wx-btn1 i {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("../images/ico-2.jpg") no-repeat;
    background-size: cover; }

/*message*/
#wx-message-dialog .wx-weui-mask {
  position: fixed;
  z-index: 202;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #fffbee; }
#wx-message-dialog .wx-weui-dialog {
  position: fixed;
  z-index: 202;
  width: 100%;
  top: 0; }
#wx-message-dialog .wx-weui-title {
  color: #533b39;
  font-size: 18px;
  padding: 4px 10px; }
#wx-message-dialog .wx-weui-textarea textarea {
  width: 100%;
  height: 180px;
  padding: 5px 5px 5px 10px;
  font-size: 14px;
  line-height: 1.6;
  resize: none;
  border-top: 1px #ebe6d4 solid;
  border-bottom: 1px #ebe6d4 solid;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }
#wx-message-dialog .wx-weui-btn2 {
  text-align: center; }
  #wx-message-dialog .wx-weui-btn2 .wx-weui-submit {
    cursor: pointer;
    border: none;
    width: 90%;
    margin: 0 auto;
    background: #b82a29;
    color: #ffffff;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; }

/*寮瑰箷*/
#danmuarea {
  position: absolute;
  min-width: 200px;
  min-height: 111px;
  left: 0;
  top: 0; }

@media (max-width: 490px) {
  .wx-author .author-info {
    width: 46%; }
    .wx-author .author-info .faces {
      width: 30%; }
    .wx-author .author-info .names {
      width: 60%; } }
@media (max-width: 380px) {
  .ico-hw {
    padding: 5px 10px; }
    .ico-hw span {
      width: 75px; }

  .wx-source {
    text-align: center;
    width: 4rem;
    color: #fdfb74;
    margin: 0 auto; } }

/*# sourceMappingURL=wx.css.map */